<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}Favorite actors</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/main.css') }}">
    {% endblock %}
</head>
<body>
    <header>
        <div class="container">
          <h1 class="logo"><a href="{{ url_for('index') }}"></a>Favorite</a> | Top 5</h1>
          <strong><nav>
            <div>
                <ul class="menu">
                    <div><li><a href="{{ url_for('index') }}">Home</a></li></div>
                    <div><li><a href="{{ url_for('favorites') }}">Favorite List</a></li></div>
                </ul>
            </div>
          </nav></strong>
        </div>
    </header>
    <div class="content">
        <h1>Hello class.</h1>
        <h3>Here are a list of my favorites things:</h3>
        <p>When it comes to actors in no particular order:</p>
        <strong>
            <div>
                <ul>
                    {% for a in act %}
                    <li>
                        {{ a.title() }}<br>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </strong>
        <p>When it comes to pop artist in no particular order:</p>
        <strong>
            <ul>
                {% for p in pop %}
                <li>
                    {{ p.title() }}<br>
                </li>
                {% endfor %}
            </ul>
        </strong>
    </div>




</body>
</html>